@import "../../scss/index.scss";

.home {
    &__title {
        border-bottom: 1px solid lightgray;
        padding: 15px;

        h2 {
            font-size: 22px;
            margin-bottom: 0;
            font-weight: bold;
        }
    }

    .load-more.btn.btn-primary {
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: $primary;
        border-radius: 25px;
        border:2px solid $primary;

        &:hover,
        &focus {
            background-color: transparent !important;
            color: $primary;
            border: 2px solid $primary;
        }
    }
}