@import "../../scss/index.scss";

.list-users{
    padding: 0;
    border-radius: 0;

    &__user {
        padding: 15px;
        border-bottom: 1px solid lightgray;
        border-radius: 0;
        text-decoration: none;
        color: black;

        img {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-right: 20px;
        }
        .card-body {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: rgb(226, 226, 226);
            text-decoration: none;
            color: black;
        }
    }
}