@import "../../scss/index.scss";

.left-menu{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 100vh;
    border-right: 1px solid $border-grey;


    .logo {
        width: 70px;
        padding: 20px 0 30px 15px;
    }

    a {
        font-size: 20px;
        color: black;

        margin-bottom: 20px;
        padding: 5px 15px;
        text-decoration: none;

        &:hover {
            text-decoration: none;
            background-color: rgb(227, 229, 230);
            border-radius: 30px;
            margin-bottom: 20px;
            padding: 5px 15px;
            
        }

        svg {
            margin-right: 5px;
            width: 50px !important;
        }
    }

    button {
        width: 80%;
        font-size: 20px;
        padding: 10px;
        margin-top: 10px;
        font-weight: bold;
        border-radius: 50px;
    }
}