@import "../../scss/index.scss";

.sign-up-form{

    h2 {
        font-weight: bold;
        padding-bottom: 30px;
        text-align: center;
    }

    button {
        text-align: center;
        width: 180px;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        border-radius: 15px;

    }
}